#artigo{
    position: relative;
    margin-left: 300px;
    font-family: Cambria;
    margin-top: -100px;
}
#tudo{
    height: 2970px;
    width: 1100px;
    background-color: gray;
    margin-left: 247px;
    opacity: 0.7;
    position: absolute;
    margin-top: 200px;
}
#banner{
    height: 200px;
    width: 1100px;
    background-color: beige;
    float: initial;
    margin-left: 247px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(img/fundo.jpg);
}

.imagem{
    width: 1100px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

#video1{
    margin-left: 250px;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}

ul li {
    position: relative;

}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
    
}

ul li a {
    display: block;
    text-decoration: none;
    color: #E2144A;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: Cambria;
}

#svgBoneco{
    background-color: white;
    height: 320px;
    width: 200px;
    padding-left: 100px;
}